{
  "TOKEN": "",
  "PREFIX": "?",
  "OWNERS": [""],
  "MONGODB_URI": "",
  "SPOTIFY_CLIENT_ID": "",
  "SPOTIFY_CLIENT_SECRET": "",
  "KSOFT_API_KEY": "",
  "GENIUS_API_KEY": "",
  "NODES": [
    {
      "HOST": "",
      "PASSWORD": "",
      "PORT": 80,
      "IDENTIFIER": "",
      "RETRY_AMOUNT": 3,
      "RETRY_DELAY": 1000,
      "SECURE": false
    }
  ],
  "AUTO_RESUME_DELAY": 1500,
  "LYRICS_ENGINE": "ksoft",
  "DEBUG": true,
  "LOG_USAGE": false
}